<main>
  <p id="notice">Welcome! You have signed up successfully.</p>
  <div class="container px-5 px-sm-0">
    <div class="row">

      <%= render '../_index.html.erb', user: @user,  book: @book %>

      <div class="col-md-8 offset-md-1">
  		  <h2>Book detail</h2>
  		  <table class="table">
  		    <tbody>
  		      <% @books.each do |list| %>
  		        <tr>
                <td>
                  <%= image_tag @user.get_image(80, 80) %>
                  <a href="/users/51613">shunsuke</a>
                </td>
                <td><a href="/books/38647">sample 3</a></td>
                <td>unko</td>
                <td><a class="btn btn-sm btn-success edit_book_38647" href="/books/38647/edit">Edit</a></td>
                <td><a data-confirm="本当に消しますか？" class="btn btn-sm btn-danger destroy_book_38647" rel="nofollow" data-method="delete" href="/books/38647">Destroy</a></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>